body {
    display: flex;
    flex-direction: column;
}


.header {
    background-color: #1F2937;
    padding: 20px 10% 5% 10%;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links, .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.up-header {
    display: flex;
    justify-content: space-between;
}

a {
    margin-left: 15px;
}

img {
    width: 600px;
    height: 300px;
    background-color: grey;
   }

.main-header {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.left-header {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 300px;
}

button {
    background-color: #3882F6;
    width: 120px;
    height: 35px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    margin-top: 8px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-tittle {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 40px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 80px;
}

.empty {
    width: 140px;
    height: 140px;
    border: solid;
    border-color: #3882F6;
    border-radius: 20px;
}

.text {
    width: 140px;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px ;
}

.testimonial {
    width: 760px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.signature {
    width: 760px;
    font-weight: bold;
    font-size: 28px;
    margin-left: 510px; 
}